﻿@model User_NoDB.Models.User

@*Now we have a variable called: Model*@

@{
    ViewBag.Title = "SeeUser";
}

<h2>SeeUser</h2>

<p>Hello @Model.FirstName  @Model.LastName .  You are @Model.Age  years old today.</p>

